body{

}

#nav-bar{
  font-family: 'Suranna', serif;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar{
  background-image: linear-gradient(to right,#200406,#1c1a24);
  font-family: 'Julius Sans One', sans-serif;
}
.fa-bars{
  color:white;
}
.navbar-nav li a{
  float: right;
  text-align: left;
}
.navbar-toggler{
  outline: none !important;
}
#banner{
  font-family: 'Nixie One', cursive;
  background-image: linear-gradient(to right,#200406,#1c1a24);
  color: white;
  padding-top: 5%;
    padding-bottom: 2%;

}

.promo-title-danez{
  font-size: 45px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  margin-top: 100px;
}
p{
  font-family: 'Nixie One', cursive;
}
.play-btn{
  width: 45px;

}
#banner a{
  text-decoration: none;
}
.material-icons.md-48 { font-size: 48px; }

#services{
  padding: 80px 0;
}
service-img{
  width: 100px;
  margin-top: 20px;
}
.services{
  padding: 20px;
}
.service h4{
  padding:5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
a:-webkit-any-link {
    color: white;
    z-index: 100;
}
a:not([href]):not([tabindex]){
  color: white;
}
.ml-auto, .mx-auto {
    margin-top: 170px;
}
.card-title {
    color: white;
}


.input-group-text{
  background-color: transparent;
  border-color: transparent;
}

.card.bg-primary, .card .card-header-primary, .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg,#c58a7d,#f1957e);
}
.card-login .card-header {
    margin: -40px 20px 15px;
    padding: 20px 0;
}
.card .card-header-primary {
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(176, 39, 39, 0.39);
}
.card-login .card-body {
    padding: 0 30px 0 10px;
}

footer{
  padding: .75rem 1.25rem;
}

.pb-3, .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem!important;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#9c27b0 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}

.form-control {

    background-size: 0 100%,100% 100%;
    border: 0;
    height: 36px;

    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
}

a:-webkit-any-link {
    color: white;
    z-index: 10;
}
.navbar-nav li{
  padding: 0 10px;
}
.btn.btn-rose.btn-link, .btn.btn-rose.btn-link:active, .btn.btn-rose.btn-link:focus, .btn.btn-rose.btn-link:hover {
    background-color: transparent;
    color: #e91e63;
}
.card-footer {
    padding: .75rem 1.25rem;
    padding-bottom: 0;
    background-color: transparent;
    border-top: transparent;
    z-index: 400;
}
.navbar-transparent .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
